# Local Netlify folder
.netlify
node_modules
.env
.env.local
.env.*.local

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dist-info/

# Keep only backend source entry files if aer-backend is used as app code.
aer-backend/*
!aer-backend/main.py
!aer-backend/athlete_funcs.py
!aer-backend/training_funcs.py
