VITE_ROUTER_BASENAME=/planocorrida
VITE_ASSET_BASE_PATH=/planocorrida/
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_TRAININGPLAN_API_URL=https://w5ueny6mmlslolyiegguhmzcuq0lrnws.lambda-url.eu-west-2.on.aws/trainingplan